<h2>data-binding component</h2>
<table style = "width: 100%"> 
    <tr>
        <td>
            <span>{{courseName}}</span>
        </td>
        <td>
            <!-- printing variable name using interpolation -->
            <input type="text" value = "{{rollNo}}">
        </td>
        <td>
            {{currentDate}}
        </td>
    </tr>
    <tr>
        <td>
            <!-- printing variable name using property Binding -->
            <input type="text" [value] = "rollNo">
        </td>
        <td>
            <input type="text" [minLength] = "minTestLength">
        </td>
        <td>
            <span [class]  = "spanClassName"> Demo Class</span>
        </td>
    </tr>
    <tr>

        <td>
            {{rollNo}}
        </td>
        <td>
            <!--  2 way binding: making a variable to dynamic using ngModel which uses FormsModule -->
            <p>make the roll no variable dynamic</p>
            <input type="text" [(ngModel)] = "rollNo">
        </td>
        <td>
            <input type="checkbox" [(ngModel)] = "isActive" >
        </td>
    </tr>
</table>
<hr />

<table>
    <tr>
        <!-- eventBinding -->
        <button (click) = "showAlert()">Show Alert</button>
    </tr>
    <td>
        <select (change)="onCityChange()">
            <option value="">Mumbai</option>
            <option value="">Lucknow</option>
            <option value="">Noida</option>
            <option value="">Pune</option>
            <option value="">Bangalore</option>
        </select>
    </td>
</table>